<h1>Welcome, <%= @user.username %></h1>

<div>
  Click <a href="/">here</a> to check your weather!
</div>

<div id="check-weather">
  <h5>Click below to check your cities weather</h5>
  <ul>
    <% @cities.each do |location| %>
    <li>
      <form id="<%= location.id %>" action="/">
        <input type="hidden" name="city" value="<%= location.city %>">
        <input type = "hidden" name="state" value="<%= location.state %>">
        <input type="submit" value="<%= location.city %>">
      </form>
      <div class="hello" id="city-show-form-<%=location.id%>">
        <ul>
          <li class="temperature">Temperature: </li>
        </ul>
      </div>
    </li>
    <% end %>
  </ul>
</div>
